FunctionsHub.Daniel/.vs/FunctionsHub.Daniel/v15/Server/sqlite3/db.lock
FunctionsHub.Daniel/.vs/FunctionsHub.Daniel/v15/Server/sqlite3/storage.ide-wal
FunctionsHub.Daniel/.vs/FunctionsHub.Daniel/v15/Server/sqlite3/storage.ide
FunctionsHub.Daniel/.vs/FunctionsHub.Daniel/v15/.suo
